body, html, #wrapper {
  height: 100%;
  margin: 0;
  padding: 0; }

#wrapper {
  position: relative; }

#top, #main-content-container {
  position: absolute; }

#top {
  height: 100px;
  width: 100%;
  background: black; }

#main-content-container {
  top: 100px;
  width: 100%;
  background: white; }

.main-header {
  height: 100%;
  width: 100%; }

.title, .sub-title {
  text-align: center;
  color: orange;
  font-family: 'Montserrat', sans-serif; }

.title {
  margin-bottom: -15px; }

.thumbnail {
  display: inline-block;
  margin: 20px 62px; }

.imageTitle, .imageNumber {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif; }

.imageTitle {
  font-size: 20px; }

.image-thumb:hover {
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  cursor: pointer;
  box-shadow: 0 2px 10px black; }

#lightBoxBg {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  display: none;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 1000; }

#lightBox {
  position: fixed;
  left: 25%;
  display: none;
  z-index: 1001;
  background-color: black; }
  #lightBox #nextButton, #lightBox #prevButton {
    position: absolute;
    top: calc( 50% - 60px);
    font-size: .8em;
    border: 1px solid #eee;
    font-weight: bold;
    cursor: pointer;
    color: black; }
  #lightBox #nextButton {
    right: -49px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid black;
    border-right: 0;
    z-index: 1002; }
  #lightBox #prevButton {
    left: -49px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid black;
    border-left: 0;
    z-index: 1002; }

.bigPic {
  min-width: 580px;
  min-height: 380px;
  max-width: 580px;
  max-height: 380px;
  padding: 20px;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-size: 580px 380px;
  background-position: center; }

@media (max-width: 490px) {
  .thumbnail {
    margin-left: 150px; } }

@media (max-width: 400px) {
  .thumbnail {
    margin-left: 100px; } }
