body, html, #wrapper {
  height: 100%;
  margin: 0;
  padding: 0; }

#wrapper {
  position: relative; }

#top, #main-content-container {
  position: absolute; }

#top {
  height: 100px;
  width: 100%;
  background: #000; }

#main-content-container {
  top: 100px;
  width: 100%;
  background: #fff; }

.title, .sub-title {
  text-align: center;
  color: orange;
  font-family: 'Montserrat', sans-serif; }

.title {
  margin-bottom: -15px; }

.thumbnail {
  display: inline-block;
  margin: 20px 62px; }

.imageTitle, .imageNumber {
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

.imageTitle {
  font-size: 20px; }

.image-thumb:hover {
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  cursor: pointer;
  -moz-box-shadow: 0 10px 10px #000;
  -webkit-box-shadow: 0 10px 10px #000;
  box-shadow: 0 10px 10px #000; }

#lightBoxBg {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  display: none;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 1000; }

#lightBox {
  position: fixed;
  left: 25%;
  display: none;
  z-index: 1001;
  background-color: #000; }
  #lightBox #nextButton, #lightBox #prevButton {
    position: absolute;
    top: calc( 50% - 60px);
    font-size: .8em;
    border: 1px solid #eee;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    z-index: 1002; }
  #lightBox #nextButton {
    right: -49px;
    border-left: 50px solid #000;
    border-right: 0; }
  #lightBox #prevButton {
    left: -49px;
    border-right: 50px solid #000;
    border-left: 0; }

.bigPic {
  height: 380px;
  width: 580px;
  padding: 20px;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 35px; }

@media (max-width: 490px) {
  .thumbnail {
    margin-left: 150px; } }

@media (min-width: 300px) {
  .thumbnail {
    margin-left: 60px; }
  #lightBox {
    left: 16%; }
  .bigPic {
    width: 170px; }
  .imageTitle {
    font-size: 8px; } }

@media (min-width: 400px) {
  .thumbnail {
    margin-left: 100px; }
  #lightBox {
    left: 13%; }
  .bigPic {
    width: 245px; }
  .imageTitle {
    font-size: 12px; } }

@media (min-width: 638px) {
  .thumbnail {
    margin-left: 50px; }
  #lightBox {
    left: 19%; }
  .bigPic {
    width: 345px; }
  .imageTitle {
    font-size: 15px; } }

@media (min-width: 921px) {
  #lightBox {
    left: 24%; }
  .bigPic {
    width: 430px; }
  .imageTitle {
    font-size: 18px; } }

@media (min-width: 1228px) {
  .thumbnail {
    margin-left: 62px; }
  #lightBox {
    left: 25%; }
  .bigPic {
    width: 580px; }
  .imageTitle {
    font-size: 20px; } }

@media (max-height: 414px) {
  .bigPic {
    height: 200px; }
  #lightBox {
    top: 0; } }
